.category-container {
	display: flex;
	flex-direction: row;
	gap: 15px;
	margin-bottom: 20px;
}

.category-btn {
	background-color: gray;
	width: 200px;
	height: 100px;
	color: #fff;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: transform 0.2s;
	user-select: none;
}

.category-btn:hover {
	transform: scale(1.1);
}

.category-btn:active {
	transform: scale(1.05);
}
